@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background: rgb(69,83,161);
    background: linear-gradient(0deg, rgba(69,83,161,1) 23%, rgba(0,0,0,1) 100%);
    margin: 0;
    color: white;
    font-family: "Noto Sans", sans-serif;    
}

/* Header Styles */
.header-nav {
    display: flex;
}

.header-logo {
    width: 60%;

}

.header-left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 100px;
}

.nav-items {
    width: 100%;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    padding-right: 40px;
}

.nav-items li {
    font-size: 14px;
}

.nav-image {
    height: 25px;
    width: 25px;
}

.delta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.american {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.united {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.southwest {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hero Section */

.hero-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;
}

.hero-text-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
    text-align: center;
}

.text-inner-content {
    text-align: left;
    width: 500px;
        h1 {
            font-size: 35px;
        }
            h4 {
                font-weight: 400;
            }
                p {
                    font-weight: 200;
                }
}


.hero-text {
    width: 50%;
}

.hero-image-container {
    width: -50%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    right: 100px;
}

.hero-image {
    padding: -10px;
}

/* CTA Container */

.cta-container {
    display: flex;
    height: 400px;
    box-shadow: 5px 10px 50px #888888;
}

.cta-container-left {
    width: 50%;
}

.cta-container-right {
    width: 50%;
        img {
            width: 100%;
            height: 100%;
            border-radius: 10px 0px 0px 10px;
        }
}

/* Destination Cards */

.main-card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    width: 100%;
    height: 550px;
    flex-wrap: wrap;

}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 70%;
    width: 255px;
    border-radius: 10px;
    box-shadow: 5px 10px 50px #888888;
    transition: all .3s ease-in;
        img {
            width: 100%;
            height: 35%;
            border-radius: 10px 10px 0px 0px;
        }
}

.card-container button {
    color: white;
    background-color: #00A1FF;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
    padding: 6px;
}

.card-container button:hover {
    background-color: #5381E6;
}

.card-container:hover {
    transition: all .3s ease-out;
    transform: scale(1.1);
}

.card-header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

/* Ticket Counter */

.ticket-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url(tickets-medium.jpg);
    background-position: center;
    background-size: cover;
}

.counter-section {
    box-shadow: 5px 10px 50px #888888;
    padding: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    height: 275px;
    width: 80%;
    border-radius: 10px;
}

.ticket-header {
    padding: 18px;
    display: flex;
    align-items: center;
    color: black;
    font-size: 32px;
}

.button-selectors {
    
}

/* Search Modal */

.search-modal {
    cursor: pointer;
}

.modal-container {
    text-align: center;
    background-color: red;
    width: 300px;
    height: 300px;
    border: solid black 1px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
        button {
            margin-top: 110px;
            background-color: #5381E6;
            cursor: pointer;
        }
}

/* Weather Data Section */